@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
.dashboard .logo {
  font-family: "Pacifico", cursive;
  margin-top: 1.3rem;
  margin-bottom: 1.3rem;
}
/* .weblogo {
  width: 120px;
} */
.dash {
  display: flex;
}
.sidebarComp {
  position: fixed;
  /* top: 0;
  bottom: 0; */
  height: 100%;
  width: 300px;
  /* overflow-y: auto; */
}
/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #1b193f 0%, #302c74 100%);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to top, #1b193f 0%, #2e2b6b 100%);
}

.dashComp {
  margin-left: 18.5rem;
  margin-top: 5rem;
  width: 100%;
}
.dashboard {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-image: url(../../img/backGrad.png);
  background-position: center;
  background-repeat: no-repeat;
}
.drawer__icon {
  margin: 0;
  margin-right: 1.2rem;
  background-color: transparent !important;
  outline: none !important;
  border: none !important;
  color: #fff;
}
.drawer__icon .MuiSvgIcon-root {
  font-size: 2rem;
}

.notify__icons {
  margin-right: 2rem !important;
  display: flex;
}
.notify__icons .MuiSvgIcon-root {
  margin: auto 1rem;
  cursor: pointer;
}
.search__bar {
  display: flex;
  background-color: rgba(211, 211, 211, 0.199);
  align-items: center;
  margin: 1.2rem 4rem;
  border-radius: 1rem;
  padding-left: 1.3rem;
}
.search__bar .input__bar {
  color: white;
}
.search__bar .MuiSvgIcon-root {
  font-size: 1.2rem;
  margin: 0.5rem;
}
.apps__icons {
  display: flex;
  background-color: rgba(211, 211, 211, 0.199);
  padding: 0.5rem;
  border-radius: 1rem;
  cursor: pointer;
}
.dashboard__content {
  padding: 1.5rem;
  background-color: rgba(218, 218, 218, 0.199);
}
.dashboard__content .row {
  margin-bottom: 1.2rem;
}

.dashboard__content .typo {
  font-weight: 800 !important;
}
.videoFrame {
  height: 450px;
  border: 2px solid #1b193f;
}

.videoBtn {
  background: transparent;
  outline: none !important;
  border: none !important;
  color: #1b193f !important;
  margin: 2px;
}
.videoBtn:hover {
  transform: translateX(3px);
  transition: 0.5s;
}
.accordionHeader {
  background-image: url(../../img/backGrad.png) !important;
  background-position: center;
  background-repeat: no-repeat;
  color: #f1f1f1 !important;
}

.modal-content {
  background: #212121;
}
.modal-header {
  border: none;
}
.modal-body h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 1.5rem;
}
.modal-body .editDetailsForm {
  display: flex;
  flex-direction: column;
}
.modal-body .editDetailsForm input {
  outline: none;
}

@media (max-width: 992px) {
  .dashboard__content .column {
    margin-bottom: 1.2rem;
  }
  .dashboard__content .row {
    margin-bottom: 0;
  }
  .dashComp {
    margin-left: 0;
    margin-top: 4rem;
  }
  .sidebarComp {
    display: none;
  }

  .dashboard {
    padding: 0.8rem;
  }
  .search__bar {
    display: none;
  }
  .dashboard .logo {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .dashboard__content .typo.welcome {
    font-size: 2.2rem;
  }
  .learningHeader .currentInfo,
  .learningHeader .futureInfo,
  .courseBtn {
    font-size: 0.7rem !important;
  }
}
@media (min-width: 992px) {
  .drawer__icon {
    display: none;
  }
  .bottomNavComp {
    display: none;
  }
}
@media (min-width: 766px) {
  .bottomNav {
    display: none !important;
  }
  .drawerSlide {
    display: none;
  }
}
@media (max-width: 767px) {
  .notify__icons {
    margin-right: -2rem !important;
  }
  .bottomNav {
    display: none !important;
  }
  /* .bottomNav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../img/backGrad.png);
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
  } */

  .appbarLogo {
    display: none !important;
  }
  .search__bar {
    display: none;
  }
  .dashboard {
    padding: 0.8rem;
  }
  ::-webkit-scrollbar {
    width: 0.3rem;
  }
  .videoFrame {
    height: 200px;
  }
}
