.sidebar {
  background-image: url(../../img/backGrad.png);
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 82%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 4rem;
  margin-top: 4.5rem;
  height: auto;
}

.logoutBtn {
  outline: none !important;
}

.sidebar .account__details {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.9rem;
}
.sidebar .avatar {
  font-size: 3rem;
  margin-right: 0.8rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}
.sidebar .drop {
  font-size: 2rem;
  margin-left: 0.8rem;
  cursor: pointer;
}
.account__details h6 {
  margin-bottom: 0;
}
.main {
  background-color: #424242;
  padding: 1.1rem;
}
.main h6 {
  margin-bottom: 0;
  color: rgb(175, 173, 173);
}
.dash__sidebar {
  background-color: #323232;
}
.components {
  background-color: #424242;
  color: rgb(175, 173, 173);
}
.firstChild {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem;
  padding-right: 0;
  padding-top: 0.8rem;
  cursor: pointer;
}
.firstChild .first {
  display: flex;
  align-items: center;
}
.first h6 {
  margin-bottom: 0;
}
.first .MuiSvgIcon-root {
  font-size: 1.2rem;
}
.second .MuiSvgIcon-root {
  font-size: 0.9rem;
}
.secondChild {
  padding: 0.8rem;
  padding-top: 0.1rem;
  padding-left: 0.8rem;
}
/* .secondChild .coursesHeader {
  background: #424242 !important;
} */

.secondChild .coursesSelector {
  display: flex;
  flex-direction: column;
}
.secondChild .coursesSelector .links {
  font-size: 0.9rem;
  margin: 0.2rem;
  padding: 0.3rem;
}
.secondChild .coursesSelector .links:hover {
  border-bottom: 1px solid #1b193f;
  transition: 0.5s cubic-bezier(1, 0, 0, 1);
  color: #1b193f !important;
  padding-left: 0.6rem;
}
.secondChild h6 {
  margin: 0.9rem auto;
  cursor: pointer;
}
.components > h6 {
  padding: 1.2rem;
}
.components .hori {
  background-color: rgb(175, 173, 173);
  margin-left: 1rem;
  margin-right: 1rem;
}
@media (max-width: 992px) {
  .sidebar {
    margin-top: 0;
  }
}
